<template>
	<q-layout view="lHh Lpr lFf" class="q-pa-sm">
		<q-layout-header class="q-pa-md bg-primary text-white">
			<h2 class="q-ma-none">Tarefas</h2>
		</q-layout-header>
		<q-page-container>
	      <router-view />
	    </q-page-container>
	</q-layout>
</template>

<script>
	export default{
		name: 'Home',
		data(){
			return{

			}
		}
	}
</script>

<style></style>